/* ==========================================================================
   Base
   ========================================================================== */

body { font-family: 'myriad-pro', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 20px; color: #333; }



/* =============================================================================
   Header
   ========================================================================== */

.banner { }
.select-head { height: 90px; margin-top: 10px; }
.select-head .main-phone { font-size: 21px; }
.select-head .sub-phone, .select-head .email { font-size: 15px; line-height: 15px; margin-top: 5px; }
.navbar-inner { background:url('../img/menu/menu_bkgd.png') top left repeat-x; border-top:1px solid #FFF; min-height:34px; height:34px; }

/* ==========================================================================
   UberMenu Custom styles
   ========================================================================== */

.navbar-inner #megaMenu, .navbar-inner #megaMenu ul.megaMenu, #megaMenu ul.sub-menu, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega { position:inherit; }
.navbar-inner #megaMenu ul.megaMenu > li.menu-item { width:156px; border-right:1px solid #FFF; line-height:34px; }
.navbar-inner #megaMenu ul.megaMenu > li.home-page { width:155px; }
.navbar-inner #megaMenu ul.megaMenu > li.home-page i { font-size:22px; vertical-align:middle; }
.navbar-inner #megaMenu ul.megaMenu > li.last-item { border-right: none; }
.navbar-inner #megaMenu ul.megaMenu > li.menu-item > a, .navbar-inner #megaMenu ul.megaMenu > li.menu-item > span.um-anchoremulator { text-align:center; font-size:14px; font-weight:200; color:#FFF; padding:0px; }
.navbar-inner #megaMenu ul.megaMenu > li.menu-item > a:hover, .navbar-inner #megaMenu ul.megaMenu > li.menu-item > span.um-anchoremulator:hover { background:#333; }
.navbar-inner #megaMenu .wpmega-link-title { line-height: 34px; }
.navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item.megaReg-with-sub > a, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item.megaReg-with-sub > span.um-anchoremulator, .navbar-inner #megaMenu ul.megaMenu li.menu-item.mega-with-sub > a, .navbar-inner #megaMenu ul.megaMenu li.menu-item.mega-with-sub > span.um-anchoremulator, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > a, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > span.um-anchoremulator { padding-right:0px; }
.navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub > a:after, .navbar-inner #megaMenu ul.megaMenu li.menu-item.mega-with-sub > a:after, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > a:after, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub > span.um-anchoremulator:after, .navbar-inner #megaMenu ul.megaMenu li.menu-item.mega-with-sub > span.um-anchoremulator:after, .navbar-inner #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > span.um-anchoremulator:after { border-top-color: #FFF; }
.navbar-inner #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item > ul.sub-menu.sub-menu-1 { background:#000; height:300px; border-radius:0px; border-top:1px solid #FFF; }

.navbar-inner #megaMenu .menu-tabs .row { width:100%; margin-left: -20px; }
.navbar-inner #megaMenu .menu-tabs [class*="span"]{ margin-left:0px; }
.navbar-inner #megaMenu .menu-tabs [class*="span"]:first-child { margin-left:20px; }

.navbar-inner #megaMenu .menu-tabs .span4 { width: 306px; }
.navbar-inner #megaMenu .menu-tabs .span6 { width: 460px; }
.navbar-inner #megaMenu .menu-tabs h2 { margin-top:0px; border-top:1px solid #666; border-bottom:1px solid #666; padding-right:20px; }
.navbar-inner #megaMenu .menu-tabs h2>a { font-size:14px; font-weight:200; color:#666; text-decoration:none; }
.navbar-inner #megaMenu .menu-tabs h2>a:hover, .navbar-inner #megaMenu .menu-tabs h2>a.hovered { color:#FFF; }
.navbar-inner #megaMenu .menu-tabs img { padding-top: 30px; }

.navbar-inner #megaMenu .menu-tabs { color:#FFF; margin:30px auto 0 auto; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs { width:170px; border-right:none; padding-right: 20px; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li { width:100%; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li { border-top: 1px solid #666666; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li:last-child { border-bottom:1px solid #666666; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li.active>a, .navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li>a, .navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li>a:hover { border:none; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; text-shadow:none; color:#666; font-size:14px; font-weight:200; padding: 9px 0; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li>a:hover { color:#FFF; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs li.active>a { color:#FFF; font-weight:400; }
.navbar-inner #megaMenu .menu-tabs .tabs-left>.tab-content>.tab-pane .row .span2 { width:180px; }

/* ==========================================================================
   Content
   ========================================================================== */

.content { }


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

footer { font-size:12px; }
/* footer background image */
footer .container { background:url('../img/footer/footer_bkgd.jpg') center top no-repeat; }

/* footer custom menu styles */
footer .base { background:#000 url('../img/footer/footer_logo.jpg') 25px center no-repeat; color:#FFF; font-size:11px; line-height:13px; height:32px; padding:20px 0 0 60px; }
footer #menu-footer-menu, footer #menu-footer-menu>li>.sub-menu { list-style:none; margin:0; padding:0; }
footer #menu-footer-menu>li { float:left; margin:15px 0 10px 20px; }
footer #menu-footer-menu>li>a { color:#FFF; }
footer #menu-footer-menu>li>.sub-menu>li>a { color:#999; }

/* footer searchform.php styles */
footer .form-search { padding:30px 0 0 5px; }
footer .form-search label { color:#FFF; font-size:13px; }
footer input.search-query { -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px; width: 170px; height: 22px; font-size:12px; padding:0 5px; }
footer .form-search .blue_button { padding:2px 14px; text-transform:uppercase; font-weight:normal; }

/* footer social icons */
#social { height: 50px; width: 285px; padding: 20px 0 0 0; }
#social .social_title { color:#FFF; padding:0px; font-size:13px; }
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Select Property Social icons
   ========================================================================== */

#social .social_title { padding: 0 0 0 5px; }
#social a.social { width: 34px; height: 34px; float: left; margin: 5px; }
#social a.twitter { background: url('../img/social/twitter.png') 0px 0px no-repeat; }
#social a.facebook { background: url('../img/social/facebook.png') 0px 0px no-repeat; }
#social a.vimeo { background: url('../img/social/vimeo.png') 0px 0px no-repeat; }
#social a.flickr { background: url('../img/social/flickr.png') 0px 0px no-repeat; }
#social a.googleplus { background: url('../img/social/googleplus.png') 0px 0px no-repeat; }
#social a.social:hover { background-position: 0px -39px; }

/* ==========================================================================
   CSS 3 Button styles
   ========================================================================== */

.blue_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
        text-transform:uppercase;
	text-shadow:1px 1px 0px #1570cd;
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
        border-radius:0px;
}.blue_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.blue_button:active {
	position:relative;
	top:1px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  
    
    /* ==========================================================================
       UberMenu Custom styles
       ========================================================================== */
    .navbar-inner #megaMenu ul.megaMenu { max-width:1170px; }
    
    .navbar-inner #megaMenu ul.megaMenu > li.menu-item { width:200px; }
    .navbar-inner #megaMenu ul.megaMenu > li.home-page { width:155px; }
    
    .navbar-inner #megaMenu .menu-tabs .row { margin-left:-30px; }
    .navbar-inner #megaMenu .menu-tabs [class*="span"]:first-child { margin-left:30px; }
    .navbar-inner #megaMenu .menu-tabs .span4 { width: 380px; }
    .navbar-inner #megaMenu .menu-tabs .span6 { width: 570px; }
    
    .navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs { width:200px; padding-right:70px; }
    .navbar-inner #megaMenu .menu-tabs .tabs-left>.tab-content>.tab-pane .row .span2 { width:215px; }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  
    
    /* ==========================================================================
       UberMenu Custom styles
       ========================================================================== */    
    .navbar .container { width:724px; }
    .navbar-inner #megaMenu ul.megaMenu > li.menu-item { width:135px; }
    .navbar-inner #megaMenu ul.megaMenu > li.home-page { width:48px; }
    
    .navbar-inner #megaMenu .menu-tabs .span4 { width: 234px; }
    .navbar-inner #megaMenu .menu-tabs .span4 img { width: 224px; }
    .navbar-inner #megaMenu .menu-tabs .span6 { width: 351px; }
    
    .navbar-inner #megaMenu .menu-tabs .tabs-left>.nav-tabs { width:130px; padding-right:20px; }
    .navbar-inner #megaMenu .menu-tabs .tabs-left>.tab-content>.tab-pane .row .span2 { width:135px; }
    .navbar-inner #megaMenu .menu-tabs .tabs-left>.tab-content>.tab-pane .row .span2 img { width:130px; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    /* ==========================================================================
       UberMenu Custom styles
       ========================================================================== */
    .navbar-inner { padding-right:0px; padding-left:0px; }
    .navbar-inner #megaMenu #megaMenuToggle { padding: 10px 15px; color:#FFF; font-size:14px; }
    .navbar-inner #megaMenu .megaMenu { background:#000; }
    .navbar-inner #megaMenu ul.megaMenu > li.menu-item { border-right:none; }
    .navbar-inner #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item > ul.sub-menu.sub-menu-1 { height:auto; }
    
    .navbar-inner #megaMenu .menu-tabs { margin:0 auto 0 auto; }
    .navbar-inner #megaMenu .menu-tabs .span4, .navbar-inner #megaMenu .menu-tabs .span6 { margin-left:20px; margin-bottom:20px; width:inherit; }
    .navbar-inner #megaMenu .menu-tabs h2 { float:left; width:145px; }
    .navbar-inner #megaMenu .menu-tabs h2 a { text-align:left; }
    .navbar-inner #megaMenu .menu-tabs a { text-align:right; }
    .navbar-inner #megaMenu .menu-tabs img { padding-top:0px; }
    
    .navbar-inner #megaMenu .menu-tabs.visible-phone .span2 { margin-left:0px; float:left; width:170px; }
    .navbar-inner #megaMenu .menu-tabs.visible-phone .span2>h2 { width:150px; font-size:14px; font-weight:200; color:#666; }
    .navbar-inner #megaMenu .menu-tabs.visible-phone .span2 img { float:left; margin-bottom:10px; }
    .navbar-inner #megaMenu .menu-tabs.visible-phone>.row>.span4 { width:380px; float:right; }
    .navbar-inner #megaMenu .menu-tabs.visible-phone>.row>.span4>.row>.span2{ margin-left:20px; }
}

/* Custom Ubermenu width for floated developments */
@media (max-width: 647px){
    .navbar-inner #megaMenu .menu-tabs.visible-phone>.row>.span4 { max-width:170px; float:right; }
}

/* Landscape phones and down */
@media (max-width: 479px) { 
    
    /* ==========================================================================
       UberMenu Custom styles
       ========================================================================== */
    .navbar-inner #megaMenu .menu-tabs h2 { width:100%; }
    .navbar-inner #megaMenu .menu-tabs h2 a, .navbar-inner #megaMenu .menu-tabs a { text-align:center; }
    .navbar-inner #megaMenu .menu-tabs img { padding-top:0px; }
    
    .navbar-inner #megaMenu .menu-tabs.visible-phone>.row>.span2, .navbar-inner #megaMenu .menu-tabs.visible-phone>.row>.span2>h2 { width:85px; }
    .navbar-inner #megaMenu .menu-tabs.visible-phone>.row>.span4 { max-width:130px; float:right; }
}

/* ==========================================================================
   Basic Modal for use with draw_sp_form shortcode within lib/form_insert.php
   ========================================================================== */
.basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {color:#bbb; background-color:#FFF; border:none; padding:2px 4px 4px 2px;-webkit-box-shadow:  0px 0px 70px 20px rgba(0, 0, 0, 1);box-shadow:  0px 0px 70px 20px rgba(0, 0, 0, 1);}
#simplemodal-container .simplemodal-wrap {padding:1px;}
#simplemodal-container .simplemodal-wrap .row {padding-top:0px;padding-bottom:0px;}
#simplemodal-container .simplemodal-wrap .row .right_col {margin-left:0px;}
#simplemodal-container .simplemodal-wrap .contact_form {min-height: 376px;}
#simplemodal-container .simplemodal-wrap .contact_form h2 {margin-top:15px;margin-bottom:0px;}
#simplemodal-container .simplemodal-wrap .contact_form form p {margin:15px 0;}
#simplemodal-container .simplemodal-wrap .contact_form form p.small {margin:0;}
#simplemodal-container .simplemodal-wrap .contact_form form p input[type="text"], 
#simplemodal-container .simplemodal-wrap .contact_form form p input[type="email"], 
#simplemodal-container .simplemodal-wrap .contact_form form p textarea {width:220px;}
#simplemodal-container .simplemodal-wrap .contact_form form .header-cta {margin-top:25px;}
#simplemodal-container .simplemodal-wrap .contact_form form .header-cta input[type="submit"] {width:233px;font-size:22px;padding:11px 0;}
#simplemodal-container .simplemodal-wrap .cta_body {margin:0px; padding: 0px;}
#simplemodal-container .simplemodal-wrap .cta_body .cta_bkgd {border-left:none;} 
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:44px; height:44px; display:inline; z-index:3200; position:absolute; top:-22px; right:-22px; cursor:pointer;}
#simplemodal-container .simplemodal-wrap .dark_grey { height: 100%;background: #666;margin-left: 2px; }
#simplemodal-container .simplemodal-wrap .dark_grey .wpb_text_column { padding: 0 30px; color:#EEE; }
#simplemodal-container .simplemodal-wrap .dark_grey .wpb_text_column:first-child { margin-top: 32px; }
#simplemodal-container .simplemodal-wrap .dark_grey .wpb_text_column:last-child { margin-bottom: 32px; }
#simplemodal-container .simplemodal-wrap .dark_grey .wpb_single_image { text-align: center; padding: 32px 0;}

/* ==========================================================================
   OSX Modal for use with draw_sp_form shortcode within lib/form_insert.php
   ========================================================================== */


#osx-modal-content, #osx-modal-data {display:none;}

/* Overlay */
#osx-overlay {background-color:#000;}

/* Container */
#osx-container {background-color:#eee; color:#000; font-size: 16px/24px; padding-bottom:4px; width:998px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
#osx-container a {color:#ddd;}
#osx-container #osx-modal-title {color:#000; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close {display:none; position:absolute; right:5px; top:0; color:#000;}
#osx-container .close a {display:block; color:#777; font-weight:bold; padding:2px 5px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close a:hover {color:#000;}
#osx-container #osx-modal-data {padding:6px 12px;}
#osx-container h2 {margin:10px 0 6px; text-align:center; }
#osx-container p {margin-bottom:10px; line-height: 16px; color: rgb(122,131,134); text-align: center;}
#osx-container p.thanks a {color:#08C; text-decoration:underline;}
#osx-container span {color:#777;}


#osx-container #osx-modal-data .buttons {
    height: 230px;
    margin: 14px auto 0 auto;
    width: 920px;
}

#osx-container #osx-modal-data .buttons.right {
    float: right;
    width: 292px;
    height: 495px;
    margin: 25px 0 0 0;
}

#osx-container #osx-modal-data .buttons.right p {
    margin: 0 0 15px 12px;
    font-family:Helvetica, Arial, sans-serif;
    font-size:17px;
    line-height:100%;
    color:rgb(121,131,133);
    text-align:left;
}

#osx-container #osx-modal-data .buttons a {
    width: 288px; 
    height: 110px; 
    float: left;
    margin: 0 9px;
    padding: 120px 0 0 0;
}

#osx-container #osx-modal-data .buttons a span {
    display: block;
    text-align: center;
}

#osx-container #osx-modal-data .buttons a .small {
    font-size: 24px;
    line-height: 24px;
    padding-top: 9px;
}

#osx-container #osx-modal-data .buttons a .larger {
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

#osx-container #osx-modal-data .buttons a.phone {
    background: url('../images/thanks/phone_but_bkgd.png') top left no-repeat; 
}

#osx-container #osx-modal-data .buttons a.arrange {
    background: url('../images/thanks/arrange_but_bkgd.png') top left no-repeat; 
}

#osx-container #osx-modal-data .buttons a.email {
    background: url('../images/thanks/email_but_bkgd.png') top left no-repeat; 
}

#osx-container #osx-modal-data .buttons.right a {
    margin-bottom: 15px;
}

#osx-container #osx-modal-data #thanksFooter {
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    width: 920px;
    margin: 20px auto;
    clear: both;
    color: #515151;
}

#osx-container #osx-modal-data #thanksFooter a {
    color: #515151;
}

#osx-container #osx-modal-data #thanksFooter img {
    float: right;
    margin: 8px 0;
}

#osx-container #osx-modal-data #call-me, #osx-container #osx-modal-data #arrange-time, #osx-container #osx-modal-data #email-me, #osx-container #osx-modal-data #thanks-new {
    width: 920px;
    margin: 0 auto;
    display: none;
}

#osx-container #arrange-time { }
#osx-container #arrange-time .contact_form, #osx-container #email-me .contact_form { 
    width: 540px;
    height: 460px;
    position: relative;
    margin: 25px 0 0 0;
}

#osx-container #email-me .contact_form {
    height: 645px;
}

#osx-container #arrange-time .contact_form h2, #osx-container #email-me .contact_form h2 {
    text-align: left;
    margin-top: 38px;
}

#osx-container #arrange-time .contact_form p, #osx-container #email-me .contact_form p {
    text-align: left;
}

#osx-container #arrange-time .contact_form form, #osx-container #email-me .contact_form form {
    margin: 30px 20px;
}

#osx-container #arrange-time .contact_form .datepicker {
    width: 200px;
}

#osx-container #arrange-time .contact_form .checkbox div {
    height: 28px;
    width: 190px;
    margin: 0 0 10px 0;
}

#osx-container #email-me .contact_form div {
    min-height: 30px;
    margin-bottom: 20px;
}

#osx-container #email-me .contact_form label {
    float: left;
    line-height: 30px;
}

#osx-container #email-me .contact_form .selector, #osx-container #email-me .contact_form textarea {
    float: right;
}

#osx-container #email-me .contact_form textarea {
    width: 275px;
    height: 75px;
}

#osx-container #email-me .contact_form .selector {
    width: 210px;
    margin-right: 72px;
}

#osx-container #email-me .contact_form .multi .selector {
    margin-right: 0px;
}

#osx-container #email-me .contact_form .selector span {
    width: 187px;
    font-weight: 400;
}

#osx-container #email-me .contact_form .selector select {
    width: 225px;
}

#osx-container .contact_form input[type="text"], #osx-container .contact_form textarea {
    float: left;
    background-color: rgb(255,255,255);
    border-color: rgb(216,224,228);
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 2px 1px 2px rgba(204,204,204,0.65);
    -webkit-box-shadow: 2px 1px 2px rgba(204,204,204,0.65);
    box-shadow: 2px 1px 2px rgba(204,204,204,0.65);
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=1,Color=#a5cccccc,Positive=true)";
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=1,Color=#a5cccccc,Positive=true);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0 0 5px 5px;
}

#osx-container #arrange-time .contact_form .checkbox input[type="radio"] {
    float: left;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    margin: 3px 18px 0 0;
}

#osx-container #arrange-time .contact_form .checkbox label {
    float:right;
    margin: 0;
}

#osx-container #arrange-time .contact_form .header-cta, #osx-container #email-me .contact_form .header-cta {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#osx-container #arrange-time .contact_form .header-cta .button_red, #osx-container #email-me .contact_form .header-cta .button_red {
    position: absolute;
    top: 20px;
    right: 20px;
}

#osx-container #arrange-time .contact_form .header-cta p.small, #osx-container #email-me .contact_form .header-cta p.small {
    position: absolute;
    bottom: 15px;
    right: 20px;
    margin: 0;
    padding: 0;
    line-height: 10px;
    height: 10px;
    color: #FFF;
}

#osx-container #arrange-time .contact_form .header-cta p.small .req, #osx-container #email-me .contact_form .header-cta p.small .req {
    color: #F00;
}

.contact_form .ajax-console-process {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.65);
    background-image: url('../img/ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    z-index:100;
}

.contact_form form .alert {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 20px;
    z-index: 100;
}

.contact_form form .alert .close {
    color:#000; 
    position: absolute;
    top: 0px;
    right: 5px;
}

.contact_form form .alert ul.error-messages {
    padding: 0;
    margin: 0 0 10px 25px;
    list-style: disc;
}

.contact_form form .alert ul.error-messages li {
    padding: 0;
    background: none;
}

/* ==========================================================================
   Contact Form for use with draw_sp_form shortcode within lib/form_insert.php
   ========================================================================== */

.contact_form {
    position: relative;
    min-height: 464px;
    border: 1px solid #CCC;
    background: #FFF;
}

.contact_form.absolute {
    width:340px;
}

.contact_form.sidebar {
    width: 100%;
    position: relative;
    min-height: 370px;
}

.contact-page {
    width: 550px;
}

.contact_form h2 {
    font-size:19px;
    line-height:171%;
    color:rgb(0,145,209);
    padding: 0 0 0 22px;
    margin-top: 38px;
}

.contact_form.sidebar h2 {
    font-size:16px;
    margin-top: 15px;
    font-weight: 400;
}

.contact_form p {
    line-height:162%;
    color:rgb(102,102,102);
    padding: 0 0 0 22px;
}

.contact_form form {
    margin: 0;
    padding: 0;
}

.contact_form form p {
    height: 28px;
    margin: 28px 0;
    padding: 0 20px;
}

.contact_form.sidebar form p {
    margin: 20px 0;
}

.contact_form form p label {
    float:left;
    width: 110px;
    line-height: 28px;
}

.contact_form.sidebar form p label {
    line-height: 18px;
}

.contact-page form p label {
    width: 130px;
}

.contact_form form p input[type="text"], .contact_form form p input[type="email"], .contact_form form p textarea {
    float:right;
    background-color:rgb(255,255,255);
    width:54%;
    height:18px;
    border-color:rgb(216,224,228);
    border-width:1px;
    border-style:solid;
    /* Firefox v3.5+ */
    -moz-box-shadow:2px 1px 2px rgba(204,204,204,0.65);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:2px 1px 2px rgba(204,204,204,0.65);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    box-shadow:2px 1px 2px rgba(204,204,204,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=1,Color=#a5cccccc,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=1,Color=#a5cccccc,Positive=true);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0 0 5px 5px;
}

.contact_form.absolute form p input[type="text"], .contact_form.absolute form p input[type="email"] {
    width: 170px;
}

.contact-page form p input[type="text"], .contact-page form p input[type="email"], .contact-page form p textarea {
    width: 360px;
}

.contact_form form p.textArea, .contact_form form p textarea {
    height: 50px;
}

.contact-page form p.textArea, .contact-page form p textarea {
    height: 90px;
}

.contact_form .required {
    color: #F33;
}

.header-cta {
    height: 85px;
    background: #3F484D;
    padding: 25px 20px 0;
}

.header-cta p.small {
    width:100%;
    font-size: 11px;
    color: #FFF;
    padding: 10px 0 0 0;
    text-align: right;
    margin: 0px;
}

.header-cta input[type="submit"], .header-cta p.small{
    float:right;
}

.contact_form.sidebar form .header-cta {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.contact_form.sidebar form .header-cta input[type="submit"], .contact_form.sidebar form .header-cta p.small{
    float: none;
    position: absolute;
    right: 20px;
}

.contact_form.sidebar form .header-cta input[type="submit"] {
    top: 20px;
}

.contact_form.sidebar form .header-cta p.small {
    bottom: 5px;
    margin: 0;
}

.button_red {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:400;
	padding:11px 27px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
        text-transform: uppercase;
        cursor:pointer;
}
.button_red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
        color: #ffffff;
        text-decoration: none;
}
.button_red:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/* pulled from bootstrap - DELETE WHEN NEEDED */

.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.alert,.alert h4{color:#c09853}.alert h4{margin:0}.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-danger,.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.alert-danger h4,.alert-error h4{color:#b94a48}

.alert .close {
    cursor: pointer;
}

